body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('main.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgba(255, 251, 251, 0.301); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}
